@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.cesium-viewer-bottom {
  display: none !important;
}

.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer {
  display: none !important;
}

#cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
